@import url('https://fonts.googleapis.com/css2?family=Ole&display=swap');

*{

    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(178, 176, 248);
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
}

.cabecalho{
    background-color: rgb(117, 102, 199);
    text-align: center; 
    padding: 20px;
}
.imagem-post{
    width: 80px;
    height: 80px;
} 
main{
    background-color: rgb(101, 109, 224);
    color: rgb(28, 54, 104);
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}
article{
    display: flex;
}
.texto-post{
    margin-left: 40px;
}
button{
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(94, 144, 219);
    color: black;
}
