@import url('https://fonts.googleapis.com/css2?family=Ole&display=swap');

*{

    margin: 0
    padding:0
}

body{
    background-color: rgb(164, 164, 252);
    color: rgb(232, 246, 252);
    
}

.cabecalho{
    background-color: rgb(255, 255, 255);
    text-align: center ;
    padding: 20px;
}
.imagem-post{
    width: 80px;
    height: 80px;
}
main{
background-color: aquamarine;
color: aliceblue;
max-width: 800px;
margin: 0 auto;
padding: 16px;
}
article{
 display: flex;
}
. texto-post{
    margin-left: 40px;
}
button{ 
width: 100px;
padding: 10px;
border-radius: 10px;
background-color: aquamarine;
color: white;
}